.allcalls{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.module-calls{
    padding: 25px;
    background-color: #f3f6fa;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: rgb(19, 16, 16);
}